
body {
    background-color: #f0f0f0; 
    margin: 0;
    padding: 0;
}
img {
   width: 100%
    max-width: 300px;
    border-radius: 10px; 
    filter: grayscale(50%);
}

h1 {
    color: #fa77d3; 
    font-size: 3rem; 
    font-weight: bold; 
    text-decoration: underline;
    text-align: center; 
    margin-top: 20px;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333; 
    margin: 20px 0;
}
