body {
  margin: 0;
  font-family: 'Arial Narrow', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #004990;
  color: white;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}


main {
  padding: 1em;
}

#hero {
  background-color: #15b6e5;
  color: white;
  padding: 1em;
  border-radius: 10px;
  text-align: center;
}

section {
  margin-top: 2em;
}

ul li {
  margin: 0.5em 0;
}

footer {
  background-color: #004990;
  color: white;
  text-align: center;
  padding: 1em;
  margin-top: 2em;
}

@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }
}

